index
	.hello 
		h2 Welcome {{users[userId].userName}}

	.addUser
		re Username: 
		input(type='text' value='{{ userName }}')
		input(type='button' on-click='setUserName()' value='save')
		br
		input(type='checkbox' checked='{{ users[userId].professor }}')
		re professor : {{ users[userId].professor }}
		
		br
		input(type = 'button', on-click = 'kikUsers()', value = 'Kik users')
