index:

	.hello
		i 
			b Welcome {{#root.users[#root._session.userId].userName}}

	div.addUser
		i Username: 
		input(type='text', value = '{{userName}}')
		input(type='button', on-click = 'setUserName()' value= 'save')
		br
		input(type='checkbox', checked = '{{Prof}}', on-change ='Professor()')
		i professor : {{#root.users[#root._session.userId].professor}}
		br
		input(type= 'button', on-click = 'KillAll()', value= 'Kik users')
