.header
	&-page
		font-style italic
		padding 20px 15px
		color white
		font-size 30px
		text-align center
		background-color coral
		
.body
	padding 20px 0px 
	&-game
		display -webkit-flex
		display flex
		
	
.footer
	&-page
		font-style italic
		margin 10px
		text-align center
		font-size 20px
		color coral