.Gamelist
	text-align center
	font-size 24px
	font-style italic
	margin 10px
	&-list
		list-style-type none
	&-link
		text-decoration none
		color black
		&-noFull
			text-decoration none
			color green
		&-started
			text-decoration none
			color grey
		&-ended
			text-decoration none
			color red