index:

	div.Gamelist
		i ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
		ul.Gamelist-list
			p
				i
					b Games list:
			each games as #game
				li 
					a.Gamelist-link(href = '/game/{{#game.id}}')
						i {{#game.gameName}}
		i ~~~~~~~~~~~~~~~~~~~~~~~~~~~~