index: 
	div.players
		ul
			i
				b Players in the game:
				each game.userIds as #userId
					if users[#userId].professor == false
						li 
							i {{users[#userId].userName}}
	div.input					
		if (Object.keys(players).length >= 2) && (games[gameId].round == 0)
			input(type='button', on-click = 'startGame()' value= 'START')
	
		if 	games[gameId].round > 0
		
			if playerQ[(games[gameId].round)-1] == null
				if (game.round < 3) && (users[userId].professor == false)
					p 
						i 
							b Input You Quantity:
					input.input-quantIn(type= 'number' value= '{{inQuantity}}')
					input(type= 'button' on-click= 'addQ()', value= 'add my (Q)')
				if (game.round == 3)
					i
						b
							a.input-link(href='/end/{{gameId}}') End Game
		
			div.table
				table
					each game.userIds as #userId
						if users[#userId].professor == false
							tr
								td 
									i
										b (Q) {{users[#userId].userName}}:
								each players[#userId].quant as #Q, #index
									if users[userId].professor == true
										td 
											i
												b{{#Q}}
									if (#index < (game.round)-1) && (users[userId].professor == false)
										td 
											i
												b{{#Q}}
					tr 
						td 
							i
								b Price:
						each game.priceInRound as #P
							td 
								i
									b{{#P}}		

					each game.userIds as #userId
						if users[#userId].professor == false	
							tr
								td
									i
										b (P) {{users[#userId].userName}}:
								each game.players[#userId].profit as #Profit
									td {{#Profit}}
								if game.round  == 3
									td 
										i
											b {{game.players[#userId].totalProfit}}

			if game.round  == 3
				h4 
					i
						b!WINNER! {{game.winner.name}}: {{game.winner.profit}} !WINNER!



			
