.players
	font-size 25px
	margin 10px 
.input
	font-size 20px
	margin 20px
	width 75%
	text-align center
	&-link
		text-decoration none
		color black
	&-quantIn
		margin 10px
.table
	font-size 20px
	margin auto
	padding 10px
	border solid coral 2px
td
	text-align center
	padding 5px
	height 40px
table
	width auto
	