index
	.players
		ul
				b Players in the game:
				each res.playersIds as #userId
					li 
						if players[#userId].userId == userId
							b.players-me {{players[#userId].name}}
						else
							re {{players[#userId].name}}
	.input
		if (res.playersIds.length >= game.colPlayers) && (game.round == 0)
			input(type='button', on-click = 'startGame()' value= 'START')
		
		if game.round > 0
			each Object.keys(players) as #player
				if !players[#player].answer && (players[#player].userId == userId) && (game.round <= game.maxRounds) && (users[userId].professor == false)
					p: b Input You Quantity:
					input.input-quantIn(type= 'number' value= '{{inQuantity}}')
					input(type= 'button' on-click= 'addQ()', value= 'add my (Q)')
			
			if (game.round == (game.maxRounds + 1))
				b: a.input-link(href='/end/{{gameId}}') End Game
			.table
				table
					tbody
						tr
							th Players Quantity
						each res.playersIds as #player
							tr
								th {{res.names[#player]}} (Q):
								each players[#player].quant as #Q, #index
									if users[userId].professor == true
										td {{#Q}}
									if (#index < (game.round)-1) && (users[userId].professor == false)
										td {{#Q}}
						tr
							th 
								hr
						tr
							th Price:
							each res.price as #price
								td {{#price}}
						tr
							th 
								hr
						tr
							th Players Profit
						each res.playersIds as #player
							tr
								th {{res.names[#player]}} (P):
								each res.profit[#player] as #P
									td {{#P}}
								if game.round  == game.maxRounds + 1
									th {{res.totalProfit[#player]}}
			if game.round  == game.maxRounds + 1
				h4 !WINNER! {{res.winner.name}}: {{res.winner.profit}} !WINNER!
