index: 
	div.players
		ul
			i
				b Players in the game:
				each #root._page.game.userIds as #userId
					if #root.users[#userId].professor == false
						li 
							i {{#root.users[#userId].userName}}
	div.input					
		if (#root._page.game.userIds.length >= 2) && (#root.games[#root._page.gameId].round == 0)
			input(type='button', on-click = 'startGame()' value= 'START')
	
		if 	#root.games[#root._page.gameId].round > 0
		
			if #root._page.playerQ[(#root.games[#root._page.gameId].round)-1] == null
				if (#root._page.game.round < 3) && (#root._page.user.professor == false)
					p 
						i 
							b Input You Quantity:
					input(type= 'number' value= '{{inQuantity}}')
					input(type= 'button' on-click= 'addQ()', value= 'add my (Q)')
				if (#root._page.game.round == 3)
					i
						b
							a.input-link(href='/end/{{#root._page.gameId}}') End Game
		
			div.table
				table
					each #root._page.game.userIds as #userId
						if #root.users[#userId].professor == false
							tr
								td 
									i
										b (Q) {{#root.users[#userId].userName}}:
								each #root.players[#userId].quant as #Q, #index
									if #root._page.user.professor == true
										td 
											i
												b{{#Q}}
									if (#index < (#root._page.game.round)-1) && (#root._page.user.professor == false)
										td 
											i
												b{{#Q}}
					tr 
						td 
							i
								b Price:
						each #root._page.game.priceInRound as #P
							td 
								i
									b{{#P}}		

					each #root._page.game.userIds as #userId
						if #root.users[#userId].professor == false	
							tr
								td
									i
										b (P) {{#root.users[#userId].userName}}:
								each #root._page.players[#userId].profit as #Profit
									td {{#Profit}}
								if #root._page.game.round  == 3
									td 
										i
											b {{#root._page.game.players[#userId].totalProfit}}

			if #root._page.game.round  == 3
				h4 
					i
						b!WINNER! {{#root._page.game.winner.name}}: {{#root._page.game.winner.profit}} !WINNER!



			
