index:
	div.addGame
		i New game: 
		input(type='text', value = '{{gameName}}')
		input(type='button', on-click = 'addNewGame()' value= 'create')
		br
		input(type= 'button', on-click = 'delGames()', value= 'Del games')